<!-- <div class="container">
    
  </div> -->
<div class="contant">
    <div class="main">  	
        <input type="checkbox" id="chk" aria-hidden="true">
    
            <div class="signup">
                
                <form [formGroup]="signupForm">
                    <label for="chk" aria-hidden="true">Sign up</label>
                    <div class="row">
                        <div class="col-md-12">
                            <input type="text" name="txt" formControlName="name" placeholder="User name" required>
                            <span class="text-error" style="color: red;" *ngIf="signupForm.get('name')?.invalid&&signupForm.get('name')?.touched">password is requred</span>
                        </div>
                    </div>
                    
                    <input type="email" name="email" placeholder="Email" required>
                    <input type="password" name="pswd" placeholder="Password" required>
                    <button>Sign up</button>
                </form>
            </div>
    
            <div class="login">
                <form [formGroup]="loginForm">
                    <label for="chk" aria-hidden="true">Login</label>
                    <input type="email" name="email" placeholder="Email" required>
                    <input type="password" name="pswd" placeholder="Password" required>
                    <button>Login</button>
                </form>
            </div>
    </div>
</div>
  

  