<div  class="container">
  <mat-toolbar style="background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);color: #fff!important;">
    <span class="navbar-brand">My Shop</span>
    <span class="spacer"></span>
    <button mat-button routerLink="order" routerLinkActive="active">TrackOrder</button>
    <button mat-button routerLink="sign-up" routerLinkActive="activ">Ragister</button>
    <button mat-button routerLink="login" routerLinkActive="activ">Login</button>
  </mat-toolbar>
</div>
<router-outlet></router-outlet>